.btn{
  border-radius: 1.2rem;
  background-color: lightcoral;
  height:2rem;
  width:7rem;
  padding-left:;
  
}
.todo{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 1.5rem;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:8rem;
 

}
body{
  background-color:rgb(196, 197, 248);
}
#input-box{
  height: 2rem;
  width: 17rem;
  margin: 1.5rem;
}

ul li{
  list-style: none;
  font-size: 17px;
  padding: 15px 10px 10px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;

}
ul li::before{
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image:url(pngwing.com.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;

}
ul li.checked{
color: #555;
text-decoration: line-through;
}
ul li.checked::before{
  background-image: url(—Pngtree—tick\ vector\ icon_4017132.png);}


   ul li span{

position: absolute;
right: 0;
top: 5px;
width: 40px;
height: 40px;
font-size: 22px;
color: #555;
line-height: 40px;
text-align: center;
margin-right: 2rem;


   }
   
ul li span:hover{
  background: #e9957b;
  border-radius: 50%;


}
